#app {
  height: 100vh;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 90vh;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
}

.icon {
  height: 200px;
  width: 200px;
}

.btn {
  display: inline-grid;
  grid-template-areas: "prepend content append";
  grid-template-columns: max-content auto max-content;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 18px 10px 18px;
  margin: 15px;

  outline: none;
  position: relative;
  text-decoration: none;
  text-indent: 0.0892857143em;
  text-transform: uppercase;
  transition-property: box-shadow, transform, opacity, background;
  transition-duration: 0.28s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-user-select: none;
          user-select: none;
  vertical-align: middle;
  flex-shrink: 0;


  background-color: #FF3458;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.281);
  border-radius: 4px;
  border-style: none;

  color: white;
  font-variant: small-caps;
  letter-spacing: 0.0892857143em;
  line-height: normal;
  font-size: 16px;
  font-weight: 500;
}

.btn:hover {
  cursor: pointer;
}
